{% extends 'base.html.twig' %}

{% block title %}Calculatrice{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Calculatrice : détails</h1>

    {% if calculator is not null %}
        <div class="card mb-1 m-auto">
            <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                    <h4 class="mb-1">{{ calculator.model }}</h4>
                    <small class="text-muted">Numéro : {{ calculator.id }}</small>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Commentaire :
                        {{ calculator.note is not null ?
                        calculator.note : '-' }}
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
        <div>Écriture non trouvée</div>
    {% endif %}
    <a href="{{ path('app_calculator_index') }}" class="btn btn-primary">Retour</a>
</section>
{% endblock %}
