{% extends 'base.html.twig' %}

{% block title %}Hello MaintenanceOperationController!{% endblock %}

{% block body %}
<section class="container px-4">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/nicolas/sources/trocasio/src/Controller/Admin/MaintenanceOperationController.php</code></li>
        <li>Your template at <code>/home/nicolas/sources/trocasio/templates/admin/maintenance_operation/index.html.twig</code></li>
    </ul>
</section>
{% endblock %}
